doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
    meta(name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0, user-scalable=no')
    title= nity
    link(rel='stylesheet' href='main.css' type='text/css')
  body.nitty
    block app
    footer.nitty-footer
      .nitty-contributions
        span.nitty-contributions-content
          | Created at HackPoly by Sydney Caldwell, Errol Grannum, Boluwatife-aikiraji & Barry Harris
      block footer
